// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.btn-container{
  display:flex;
  justify-content: center;
  margin-bottom: 1rem;
    .btn-submit{
      color:dodgerblue;
      border:1rem solid green;
      font-weight: bolder;
      font-size: 1.5rem;
  }
}

h1{
  color:dodgerblue;
}

nav{
  margin-bottom: 1rem;
  .navbar{
    display:flex;
    justify-content: space-between;
    .navbar-brand{
      .navbar-nav{
        .nav-item{
          .nav-link{
          }
        }
      }
    }
  }
}
.controls-top{
  display:flex;
  justify-content: space-between;
    .btn-floating{
      .fa {
      font-size: 3rem!important;
    }
  }
}
.row {
    .found-pets {
      display:flex;
      align-items: center;
      justify-content: flex-start;
      align-content: center;
    }
    .lost-pets{
      display:flex;
      align-items: center;
      justify-content: flex-end;
      align-content: center;
    }
    .btn{
      height: 20rem;
      width: 25rem;
      border-radius: 15rem;
      font-size: 2rem;
      font-weight:bolder;
      color:red;
      opacity: 0.6;
      background-color: silver;
    }
}
.carousel{
  margin-bottom: 2rem;
  .carousel-item{
      width:100%;
      height:50%;
      box-sizing: border-box;
      border: 1px solid black;
      padding-left: 17rem;
      padding-top: 2.5rem;
      .col-12{
        display:inline-block;
        .card{
          border:1px solid red;
        }
      }
  }
}
