// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';



// Style for Card's view

.desc{
<<<<<<< Updated upstream
    margin-left: 70px;
=======
>>>>>>> Stashed changes
    .desc-list{
        list-style: none;
        padding: 8px;
    }
}

.cst-img-position{
    margin: auto;
}
<<<<<<< Updated upstream

input[type="range"]{
    -webkit-appearance:none;
    width:160px;
    height:10px;
    margin:10px 50px;
    background: linear-gradient(to right, #2193b0 0%, #6dd5ed 100%);
    background-size:150px 10px;
    background-position:center;
    background-repeat:no-repeat;
    overflow:hidden;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance:none;
    width:12px;
    border-radius: 50px;
    height:11px;
    background:black;
    position:relative;
    box-shadow:0 0 5px 0 rgba(0,0,0,0.3);
}
=======
// Range style

//input[type="range"]{
//    -webkit-appearance:none;
//    width:160px;
//    height:10px;
//    margin:10px 50px;
//    background: linear-gradient(to right, #2193b0 0%, #6dd5ed 100%);
//    background-size:150px 10px;
//    background-position:center;
//    background-repeat:no-repeat;
//    overflow:hidden;
//    outline: none;
//}
//
//input[type="range"]::-webkit-slider-thumb{
//    -webkit-appearance:none;
//    width:12px;
//    border-radius: 50px;
//    height:11px;
//    background:black;
//    position:relative;
//    box-shadow:0 0 5px 0 rgba(0,0,0,0.3);
$border : 1px solid #ddd;
>>>>>>> Stashed changes

.cst-bloc{
    height: auto;
    width: 100%;
    border-radius: 10px;
<<<<<<< Updated upstream
    border: 2px solid black;
    box-shadow: 0px 2px black;
=======
    border: $border;
    box-shadow: 0px 2px #ddd;
>>>>>>> Stashed changes
    margin: 20px 0;
    padding: 15px;
}

// Style for List's view

<<<<<<< Updated upstream
#cst-search {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
=======
.search-icon{
    position: absolute;
    left: 30px;
    top: 15px;
}

.cst-filter{
    width: 100%;
    padding: 12px 12px 12px 40px;
    border: $border;
}

#cst-display-list{
    display: none;
}

#cst-display-map{
    display: none;
}

.cst-onglet{
    margin: 50px 0;
    width: 50px;
    padding: 12px 12px 12px;
    border: $border;
    background: #ffffff;
}

.cst-card{
    border: $border;
    width: 400px;
    margin: 0 auto;
}

.cst-arrow{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 52px;
>>>>>>> Stashed changes
}
