.formAnimal {
  margin-top: 5%;
}

.formAnimal .picturInput {
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.formAnimal .picturInput .img-fluid {
  width: 60%;
  background-image: url("/unknowDog.png");
  background-size: cover;
  height: 250px;
}

.formAnimal .picturInput input {
  background-image: url("/calendar1.png");
  background-position: right;
  background-repeat: no-repeat;
  text-align: center;
}

.formAnimal .categoryInput {
  padding: 0;
}

.formAnimal .categoryInput .category {
  display: flex;
  justify-content: space-evenly;
}

.formAnimal .categoryInput .category select,
.formAnimal .categoryInput .category input {
  width: 30%;
}

.formAnimal .categoryInput .category .addCategory {
  width: 60%;
}

.formAnimal .categoryInput #raceChoice {
  display: none;
}

.formAnimal .categoryInput #raceChoice .dogRace {
  display: none;
}

.formAnimal .categoryInput #raceChoice .catRace {
  display: none;
}

.formAnimal .categoryInput #raceChoice .nacRace {
  display: none;
}

.formAnimal .categoryInput .size {
  display: none;
}

.formAnimal .categoryInput .fur {
  display: none;
}

.formAnimal .categoryInput .eyes {
  display: none;
}

.formAnimal .categoryInput .collar {
  display: none;
}

.formAnimal .categoryInput .tatoo {
  display: none;
}

.formAnimal .categoryInput .microship {
  display: none;
}

.formAnimal .chooseYesNo {
  width: 30%;
}

.formAnimal .chooseYesNo .yesNo {
  padding: 0;
}

.formAnimal .menuCaracteristique #hidden {
  display: none;
  position: absolute;
  z-index: 99999;
  flex-direction: column;
  align-items: flex-end;
}

.formAnimal .menuCaracteristique #hidden tr {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.formAnimal .menuCaracteristique #hidden tr .add {
  display: block;
}

.formAnimal .menuCaracteristique #hidden tr .less {
  display: none;
}

.formAnimal .comment {
  margin: 0 auto;
  width: 60%;
}

.formAnimal .keepIt {
  display: flex;
  justify-content: space-evenly;
  width: 100% !important;
  align-items: center;
}

.formAnimal .keepIt .checkRefuge {
  display: flex;
}

.formAnimal .keepIt .checkRefuge .refuge {
  width: 90%;
}

.formAnimal .keepIt .checkRefuge .day {
  width: 25% !important;
}

.formAnimal #mapRefuge {
  display: none;
  position: absolute;
  z-index: 99999;
  width: 68%;
  height: 300px;
}

.formAnimal #marker {
  height: 200px;
  width: 200px;
  z-index: 5;
  border-radius: 50%;
  background-color: rgba(0, 0, 255, 0.2);
}

